# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc
*.swp

# Grunt
node_modules/
none

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Unit tests
/tmp
/tests/bin/tmp

# Logs
/logs

# Composer
/vendor/

# Language files
i18n/korea-for-woocommerce.pot
