.github export-ignore
.wordpress-org export-ignore
docker export-ignore
docs export-ignore
docs/DOCKER.md export-ignore
tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore
.wporgignore export-ignore
composer.json export-ignore
composer.lock export-ignore
default.env export-ignore
docker-compose.yml export-ignore
package.json export-ignore
package-lock.json export-ignore
phpcs.xml export-ignore
phpunit.xml export-ignore
README.md export-ignore
