# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc
*.swp
.phpunit.result.cache

# Grunt
node_modules/
none

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Unit tests
/tmp
/tests/bin/tmp

# Logs
/logs

# Assets
/assets/css
/assets/js

# Composer
/vendor/

# Language files
i18n/korea-for-woocommerce.pot

# Build
build/

# E2E Testing
tests/e2e/screenshots/**/*.png
