<?xml version="1.0" encoding="UTF-8"?>
<phpunit
		bootstrap="tests/php/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		verbose="true"
>
	<testsuites>
		<testsuite name="Korea for WooCommerce Test Suite">
			<directory suffix="Test.php">./tests/php/src</directory>
		</testsuite>
	</testsuites>
</phpunit>
