.wc_addons_wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin: 10px 0;

	.products {
		overflow: hidden;
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-flow: row;
		flex-wrap: wrap;
		margin: 0 -.5em;

		li {
			float: left;
			border: 1px solid #ddd;
			margin: 0 .5em 1em!important;
			padding: 0;
			vertical-align: top;
			width: 25%;
			min-width: 280px;
			min-height: 220px;
			-webkit-box-flex: 1;
			flex: 1;
			overflow: hidden;
			background: #f5f5f5;
			box-shadow: inset 0 1px 0 rgba(255,255,255,.2),inset 0 -1px 0 rgba(0,0,0,.1);

			a {
				text-decoration: none;
				color: inherit;
				display: block;
				height: 100%;

				h2, h3 {
					margin: 0!important;
					padding: 20px!important;
					background: #fff;
				}

				p {
					padding: 20px!important;
					margin: 0!important;
					border-top: 1px solid #f1f1f1;
				}
			}
		}
	}
}


.wrap-korea-licenses .form-table,
.wrap-korea-licenses thead,
.wrap-korea-licenses tbody,
.wrap-korea-licenses tfoot,
.wrap-korea-licenses tr,
.wrap-korea-licenses td,
.wrap-korea-licenses th,
.wrap-korea-licenses caption {
	display: block;
}
.wrap-korea-licenses .form-table tr {
	float: left;
	margin: 0 15px 15px 0;
	background: #fff;
	border: 1px solid #ccc;
	width: 30.5%;
	max-width: 350px;
	padding: 14px;
	min-height: 220px;
	position: relative;
	box-sizing: border-box;
}
.wrap-korea-licenses .form-table th {
	background: #f9f9f9;
	padding: 14px !important;
	border-bottom: 1px solid #ccc;
	margin: -14px -14px 20px;
	width: 100%;
	position: inherit !important;
}
.wrap-korea-licenses .form-table td {
	padding: 0;
}
.wrap-korea-licenses td input.regular-text {
	margin: 0 0 8px !important;
	width: 100% !important;
}
.wrap-korea-licenses .wc-korea-license-data[class*="wc-korea-license-"] {
	position: absolute;
	background: #fafafa;
	padding: 14px;
	border-top: 1px solid #eee;
	margin: 20px -14px -14px;
	min-height: 67px;
	width: 100%;
	bottom: 14px;
	box-sizing: border-box;
}
.wrap-korea-licenses .wc-korea-license-data[class*="wc-korea-license-"] a {
	color: #444;
}
.wrap-korea-licenses .wc-korea-license-data[class*="wc-korea-license-"] a:hover {
	text-decoration: none;
}
.wrap-korea-licenses .wc-korea-license-data.license-expires-soon-notice {
	background-color: #00a0d2;
	color: #fff;
	border-color: #00a0d2;
}
.wrap-korea-licenses .wc-korea-license-data.wc-korea-license-expired {
	background-color: #e24e4e;
	color: #fff;
	border-color: #e24e4e;
}
.wrap-korea-licenses .wc-korea-license-data.wc-korea-license-error,
.wrap-korea-licenses .wc-korea-license-data.wc-korea-license-missing,
.wrap-korea-licenses .wc-korea-license-data.wc-korea-license-invalid,
.wrap-korea-licenses .wc-korea-license-data.wc-korea-license-site_inactive,
.wrap-korea-licenses .wc-korea-license-data.wc-korea-license-item_name_mismatch {
	background-color: #ffebcd;
	border-color: #ffebcd;
}
.wrap-korea-licenses .wc-korea-license-data p {
	font-size: 13px;
	margin-top: 0;
}
.wrap-korea-licenses .wc-korea-license-data.license-expires-soon-notice a,
.wrap-korea-licenses .wc-korea-license-data.wc-korea-license-expired a {
	color: #fff;
}
.wrap-korea-licenses .wc-korea-license-data.license-expires-soon-notice a:hover,
.wrap-korea-licenses .wc-korea-license-data.wc-korea-license-expired a:hover {
	text-decoration: none;
}
.wrap-korea-licenses p.submit {
	clear: both;
}
